body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  margin: 10px;
}

.pokemon-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background-color: darkcyan;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-id {
  background-color: yellow;
  display: inline;
  padding: 5px;
  margin-left: 5px;
  border-radius: 0px 0px 2px 2px;
}

.card-image {
  text-align: center;
}

.card-name {
  text-transform: uppercase;
  text-align: center;
}
